<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';
    
    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
?>
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="row product-list">
            <?php $iterator = 1; ?>
            <?php foreach ($items as $_item): ?>
                <?php if ($iterator++ != 1): ?></div><?php endif ?>
                <div class="product col-6 col-md-3">
                    <div class="img">
                        <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                            <?= $block->getImage($_item, $image)->toHtml() ?>
                        </a>
                    </div>
                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"class="product-item-link">
                        <?= $block->escapeHtml($_item->getName()) ?>
                    </a>
                    <div>
                        <?php
                        echo $block->getProductPriceHtml($_item, $type);
                        ?>
                    </div>
                <?= ($iterator == count($items)+1) ? '</div>' : '' ?>
            <?php endforeach ?>
        </div>
        <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
